section {
  text-align: center;
}

button {
  padding: 1em;
  font-size: 1.2em;
  width: 10em;
  display: block;
  margin: 1em auto;
  background-color: white;
  border: solid;
}
button:hover {
  background-color: lightgray;
}
